.nav-link{
    font-size: 15px;
    transition: 0.2s;
    border:solid 1px ;
    border-radius: 10px;
    margin-right: 10px;
  }
  .nav-link:hover{
   background-color: pink !important;
  
  }
  @media (max-width: 767px){
    .nav-link{
      margin-top: 10px;
    }
  
  }

  @media (max-width:900){
    .container-fuild{
        width: 100% !important;
    }
    
}